<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:400,700'><link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<div class="login-form">
    <form>
        <h1>Login</h1>
        <div class="content">
            <div class="input-field">
                <label>
                    <input name="username" id="username" type="text" placeholder="Username" value="" autocomplete="nope">
                </label>
            </div>
            <div class="input-field">
                <label>
                    <input name="password" id="password" type="password" placeholder="Password" value="" autocomplete="new-password">
                </label>
            </div>
        </div>
        <div class="action">
            <button name="login" id="login">Login</button>
        </div>
        <div class="action">
            <button name="register" id="register">Register</button>
        </div>
    </form>
</div>
<script  src="../static/js/login.js"></script>
</body>
</html>
